.tags_select {
  position:fixed;
  top:50%;
  left:50%; 
  margin-left:-180px;
  margin-top:-90px;
  border:1px solid #69b401; 
  padding:5px;
  background-color: rgba(231, 76, 60,1.0);
}
.hidden {
    display: none;
}

.delete button{
      content: "Удалить!"; /* Добавляемый текст */ 
      color: #333; /* Цвет текста */ 
      background-color: #fc0; /* Цвет фона */ 
      font-size: 90%; /* Размер шрифта */ 
      padding: 2px; /* Поля вокруг текста */ 
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 99999;
    
}

.delete {
  position: relative;
  border: 3px solid #faa;
  padding: 10px 20px;
  margin: 10px 20px;
}
